.star-rating {
    display: flex;
    justify-content: center;
  }
  
  .star-rating .fa {
    font-size: 2rem;
    cursor: pointer;
    color: gold;
  }
  
  .star-rating .fa-star-o {
    color: gray;
  }